<h1>Assignments for <%= @organization.name %></h1>

<table class="table">
  <thead>
    <tr>
        <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
        <tr>
            <td><%= link_to assignment.target.name, assignment.target %></td>
        <td><%= link_to 'Remove', [@organization, assignment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for [@organization, Assignment.new] do |f| %>
    <p><%= f.text_field :user_name, :placeholder => "User", :"data-provide" => 'typeahead', :'data-items' => @all_users.count, :"data-source" => @all_users.to_s, :autocomplete => "off" %> OR <%= f.text_field :group_name, :placeholder => "Group", :"data-provide" => 'typeahead', :'data-items' => @all_groups.count, :"data-source" => @all_groups.to_s, :autocomplete => false %></p>

    <%= f.submit "Assign", :class => 'btn btn-primary' %>
<% end %>
