<%= javascript_tag do %>
    function submitF(action) {
    document.generatorForm.action = "<%= root_url %>generate/" + action;
    document.generatorForm.submit();
    }
<% end %>   

<h1>Build Custom Sets</h1>

<%= form_tag generate_flyer_path, :method => 'get', :name => 'generatorForm' do %>
    <h3>Choose Organizations</h3>
    <%= collection_check_boxes(:gen, :organization_ids, Organization.all, :id, :name) do |b|
        ('<div class="span3">' + b.label(class: 'orgbox') { ("<span>" + b.text + "</span>" + b.check_box(class: "check_box")).html_safe } + '</div>').html_safe
    end
%>
<div class="clearfix"></div>
<h3>Pick a Format</h3>

<% content_for :flyer do %>

    <%= button_tag "Go!", :class => 'btn btn-success btn-largei btn-block', :onClick => 'submitF("flyer")' %>
<% end %>

<%= content_for :rss do %>

    <%= button_tag "Go!", :class => 'btn btn-success btn-largei btn-block', :onClick => 'submitF("rss.rss")' %>
<% end %>


<%= tabify flyer: 'Printable Flyer', rss: 'RSS' %>

<% end %>
