<h1><%= @organization.name %></h1>
<p class="desc" style="text-align: left;">
  <%= @organization.description %>
</p>

<h2>Posts</h2>
<% if @posts.count > 0 %>
    <%= render :partial => 'posts/posts', :locals => {:posts => @posts} %>
<% else %>
    <p>No posts to show for today!</p>
<% end %>

<% if @organization.users.include?(current_user) || current_user.admin? %>
    <%= link_to "New Post", new_organization_post_path(@organization), :class => 'btn btn-primary' %>
    <%= link_to "All Posts", organization_posts_path(@organization), :class => 'btn btn-inverse' %>
    <% if current_user.supervisor %>
        <%= link_to "Approve Posts", approve_organization_path(@organization), :class => 'btn btn-success' %>
    <% end %>
<% end %>


<h2>Assigned Users & Groups</h2>

<%= pills_for @organization.users %>
<% if can? :manage, @organization %>
    <%= link_to "Manage Users", organization_assignments_path(@organization), :class => 'btn btn-inverse' %>
<% end %>
