<!DOCTYPE html>
<html>
    <head>
        <title>Newsdesk</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" id="content">
            <div class="row">
                <div class="span10" id="main">
                    <%= yield %>
                </div>

                <div class="span2">
                    <h1 class="sidehead">NewsDesk</h1>
                    <div id="cymk-decor">
                        <div id="c-decor"></div>
                        <div id="y-decor"></div>
                        <div id="m-decor"></div>
                        <div id="k-decor"></div>
                    </div>
                    <ul class="nav nav-list">
                        <li><%= link_to "Dashboard", dashboard_path %></li>
                        <li><%= link_to "All Current News", posts_path %></li>
                        <li><%= link_to "Build Sets", generate_index_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Organizations", organizations_path %></li>
                        <% current_user.organizations.each do |org| %>
                            <li><%= link_to org.name, org %></li>
                        <% end %>
                        <% if current_user.admin? %>
                            <li class="divider"></li>
                            <li class="nav-header">Administration</li>
                            <li><%= link_to "Users", users_path %></li>
                            <li><%= link_to "Groups", groups_path %></li>
                        <% end %>
                        <li><%= link_to "Sign Out", sign_out_path %></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="flashbox">
            <%= bootstrap_flash %> 
        </div>
    </body>
</html>
